mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-md-auto
					a.tdu(href="documents/privacy_policy.pdf" target="_blank").text-body Политика конфиденциальности
				.col
					a.tdu(href="documents/Положение_об_Интеллектуальном_конкурсе_«Хакатон_идей».pdf" target="_blank").text-body Положение о конкурсе

				.col-md-auto   © Хакатон Идей 2020
