mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-md-auto
					a.tdu(href="#").text-body Политика конфиденциальности
				.col
					a.tdu(href="#").text-body Положение о конкурсе
				.col

					a.footer_link(href="https://vk.com/hackathonidea" target="_blank")
						img.footer_icon(src="img/@1x/vk.png" loading="lazy", alt="")

					a.footer_link(href="https://t.me/hackathonidea" target="_blank")
						img.footer_icon(src="img/@1x/telegram.png" loading="lazy", alt="")
				.col-md-auto   © Хакатон Идей 2020
