mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 Контакты
			.row
				.col-lg-4.col-sm-auto
					p Для  <br>			участников
					a(href="mailto:info@ideahack.ru") info@ideahack.ru
				.col-lg-4.col-sm-auto
					p Телефон  <br> горячей линии
					a(href="tel:8 800 500 14 51") 8 800 500 14 51
				.col-lg-4.col-sm-auto
					p Чат  <br> с поддержкой
					a(href="/") Перейти в чат
	// end sContact