mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 Контакты
			.row
				.col-lg-4.col-sm-auto
					p Для  <br>			участников
					a(href="mailto:info@ideahack.ru") info@ideahack.ru
				.col-lg-4.col-sm-auto
					p Телефон  <br> горячей линии
					a(href="tel:8 800 500 14 51") 8 800 500 14 51
				.col-lg-4.col-sm-auto
					p Социальные <br> сети
					a.footer_link(href="https://vk.com/hackathonidea" target="_blank")
						img.footer_icon(src="img/@1x/vk.png" loading="lazy", alt="")

					a.footer_link(href="https://t.me/hackathonidea" target="_blank")
						img.footer_icon(src="img/@1x/telegram.png" loading="lazy", alt="")

					a.footer_link(href="https://www.facebook.com/hackathonidea/" target="_blank")
						img.footer_icon(src="img/@1x/fb.png" loading="lazy", alt="")
	// end sContact