mixin sRoadMap(data)
	// start sRoadMap
	+b.SECTION.sRoadMap.section#sRoadMap&attributes(attributes)
		.container
			+b.section-title
				h2 Как все пройдет?
				
			+e.row.row
				+e.item.col-lg-auto.col-sm-6 
					+e.circle
					+e.text.h4 Зарегистрируйся
				+e.item.col-lg-auto.col-sm-6 
					+e.circle
					+e.text.h4 Собери <br> команду
				+e.item.col-lg-auto.col-sm-6 
					+e.circle
					+e.text.h4 Выбери <br> задачу
				+e.item.col-lg-auto.col-sm-6 
					+e.circle
					+e.text.h4 Создай решение <br> на Хакатоне
			.row
				+e.col.col-xl-4
					+e.title
						svg(width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4568 10.5338L2.16047 12.1463M2.16047 12.1463L12.8161 21.2027M2.16047 12.1463L11.1652 1.44693' stroke='#343841' stroke-width='2.30519')
						svg(width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M4.95508 6.875L21.0152 20.4579' stroke='#343841' stroke-width='2.30519')
								path(d='M19.7764 5.63672L6.19342 21.6968' stroke='#343841' stroke-width='2.30519')
								path(d='M11.9033 3.20361L13.6549 24.1644' stroke='#343841' stroke-width='2.30519')
								path(d='M23.2598 12.8081L2.29898 14.5597' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(24.4629 0.0952148) rotate(85.2231)')
						| Решения
						svg(width='28' height='27' viewBox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M4.73145 5.4082L23.4852 21.2694' stroke='#343841' stroke-width='2.30519')
								path(d='M22.0391 3.96191L6.17791 22.7157' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(25.3379 0.0610352) rotate(85.2231)')
						svg(width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M2.82227 13.9639L23.7831 12.2123' stroke='#343841' stroke-width='2.30519')
							path(d='M12.4268 2.60791L14.1784 23.5687' stroke='#343841' stroke-width='2.30519')
						svg(width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M4.31407 15.2033L23.1509 13.6292M23.1509 13.6292L12.7485 4.78297M23.1509 13.6292L14.3611 24.0793' stroke='#343841' stroke-width='2.30519')

					p #[strong Оценка решений]  Хакатона проходит  по&nbsp;заданным и&nbsp;обозначенным заранее управленческим  и&nbsp;социальным критериям
				+e.col.col-xl-4
					+e.title
						svg(width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4568 10.5338L2.16047 12.1463M2.16047 12.1463L12.8161 21.2027M2.16047 12.1463L11.1652 1.44693' stroke='#343841' stroke-width='2.30519')
						svg(width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M15.4197 4.9009L12.7365 24.0777M12.7365 24.0777L23.9201 15.6819M12.7365 24.0777L4.28672 12.9349' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(27.9023 3.85449) rotate(97.9649)')

						svg(width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M4.95508 6.875L21.0152 20.4579' stroke='#343841' stroke-width='2.30519')
								path(d='M19.7764 5.63672L6.19342 21.6968' stroke='#343841' stroke-width='2.30519')
								path(d='M11.9033 3.20361L13.6549 24.1644' stroke='#343841' stroke-width='2.30519')
								path(d='M23.2598 12.8081L2.29898 14.5597' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(24.4629 0.0952148) rotate(85.2231)')
						| Команды
						svg(width='28' height='27' viewBox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M4.73145 5.4082L23.4852 21.2694' stroke='#343841' stroke-width='2.30519')
								path(d='M22.0391 3.96191L6.17791 22.7157' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(25.3379 0.0610352) rotate(85.2231)')
					
						svg(width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M4.31407 15.2033L23.1509 13.6292M23.1509 13.6292L12.7485 4.78297M23.1509 13.6292L14.3611 24.0793' stroke='#343841' stroke-width='2.30519')

					p #[strong Созданные за&nbsp;время проведения хакатона команды] смогут реализовывать проекты несмотря на&nbsp;фактическое месторасположение членов команды
	
				+e.col.col-xl-4
					+e.title
						svg(width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.4568 10.5338L2.16047 12.1463M2.16047 12.1463L12.8161 21.2027M2.16047 12.1463L11.1652 1.44693' stroke='#343841' stroke-width='2.30519')
						svg(width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M4.95508 6.875L21.0152 20.4579' stroke='#343841' stroke-width='2.30519')
								path(d='M19.7764 5.63672L6.19342 21.6968' stroke='#343841' stroke-width='2.30519')
								path(d='M11.9033 3.20361L13.6549 24.1644' stroke='#343841' stroke-width='2.30519')
								path(d='M23.2598 12.8081L2.29898 14.5597' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(24.4629 0.0952148) rotate(85.2231)')
						| Сообщество
						svg(width='28' height='27' viewBox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0)')
								path(d='M4.73145 5.4082L23.4852 21.2694' stroke='#343841' stroke-width='2.30519')
								path(d='M22.0391 3.96191L6.17791 22.7157' stroke='#343841' stroke-width='2.30519')
							defs
								clippath#clip0
									rect(width='24.435' height='24.435' fill='white' transform='translate(25.3379 0.0610352) rotate(85.2231)')
					
						svg(width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M4.31407 15.2033L23.1509 13.6292M23.1509 13.6292L12.7485 4.78297M23.1509 13.6292L14.3611 24.0793' stroke='#343841' stroke-width='2.30519')

					p #[strong Объединение команд online] будет способствовать созданию сильного online- сообщества и&nbsp;усилению позиционирования активностей ФАДМ
	

	// end sRoadMap