mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)

		+marquee('rtl').text-1
		+marquee.text-2
		.container
			+e.text-block
				h1
					span.z--2
						| Хакат#[+e.STRONG.circle.border-warning]н Идей
				P Интеллектуальный <br> online-конкурс для молодежи
				+e.date 	11-13 декабря
				+e.btn(href="https://my.ideahack.ru") Личный кабинет
					i
				+e.img-wrap
					+pic('malecula.png')
					+e.gradient-circle
						+ellipses()
			//- .row.align-items-center
			//- 	.col-lg-6
			//- 		p 48 часов интенсивной командной работы  #[em.strong  ONLINE =] реальные решения, актуальные для молодежи #[strong здесь и сейчас]
			//- 	.col
	// end headerBlock
