// start .headerBlock
.headerBlock {
	position: relative;
	// padding-top: 0;

	--sPT: 0;
	.container{
		 position: relative;

	}

		&__text-block {
			// width: 50%;
			@include media-breakpoint-up(xl) {
				
				max-width: rem(650);
			}
			@include media-breakpoint-up(lg) {
				
				text-align: right;
					max-width: rem(540);
				}
			position: relative;
		}

		&__date {
			@extend .h3;
			line-height: 110.8%;
			letter-spacing: 0.015em;
			background-color: $primary;
			display: inline-block;
			padding: rem(6) rem(10);
			text-transform: uppercase;
			margin-bottom: 0;
		}
	h1{
		margin-top: em(-1); 
		@include rfs(120.827px);
		// font-size: 145.827px;
		line-height: 110.8%; 
		letter-spacing: 0.015em;
		text-transform: uppercase;
		max-width: em(86);
		text-align: left;
		vertical-align: middle;
			@include media-breakpoint-up(lg){

				margin-left: auto;
			}
	}
			&__circle{
				display: inline-block;
				--size: #{em(9.427)};
				width: var(--size);
				height: var(--size);
				border-radius: 50%;
				border: 5px solid  ;
				margin-right: em(1);
				position: relative;
				&.border-warning{
					margin-right: em(6);
					--size: #{em(12.427)};
					margin-left: em(5);
					&::before{
						content: '';
						--size: #{em(18.427)};
						width: var(--size);
						height: var(--size);
						background-image: url(../img/svg/text-circle.svg);
						@include a-cent1();
						background-size: 100% 100%;
						background-position:  center center;
						background-repeat: no-repeat;
					}
				}
				&.border-primary{
					top: em(-1.4);
				}
	
			}

		 	&__img-wrap {
				 	@include media-breakpoint-up(lg){

						 left: 100%;
						 width: rem(645px);
						 height: rem(676.35px);
						}
						width: rem(645* .6);
						height: rem(676.35* .6);
						left: 60%;
		 		position: absolute;
		 		top: 0;
		 		picture {
		 			position: relative;
		 			display: block;

		 			&::after {
		 				content: '';
		 				--size: 80%;
		 				width: var(--size);
		 				height: var(--size);
		 				background-image: url(../img/svg/text-circle.svg);
		 				@include a-cent1();
		 				background-size: 100% 100%;
		 				background-position: center center;
						 background-repeat: no-repeat;
						 z-index: 3;
		 			}
		 		}
		 	}

&__gradient-circle{
	position: absolute;
	--size: #{rem(236)};
	width: var(--size);
	height: var(--size);
	background: linear-gradient(93.21deg, #FC9246 0%, #54C8ED 100%);
	border-radius: 50%;
	top: rem(80);
	right: calc(-1 * var(--size) / 4);
	z-index: -1;
	.ellipses{

	}
	svg{
		@include a-cent;
		position: absolute;
		left: 0;

		top: 0;
		animation: spin 6s infinite;
		margin-left: rem(-30);
		&:nth-child(4) {
			margin-top:em(10);
		}
	}
}

.z--1{
	z-index: -1;
	position: relative;
}

 .z--2{
	 z-index: 5;
	 position: relative;
 }
 	.text-1 {
		 .marquee-inner{

			 background: #F2F2F2;
			}
 		transform: rotate(-3.46deg);
 		position: absolute;
		 right: rem(-50);
		 left: rem(-50);
		 min-width: calc(100% + #{rem(100)});
		 @include media-breakpoint-up(xl) {

			 top: rem(500);
			}
			 	@include media-breakpoint-up(lg){

					 top: rem(420);
					}
					 	@include media-breakpoint-up(sm){

							 top: rem(320);
							}
							top: rem(220);
 		z-index: 4;
 	}
 	.text-2 {
		 .marquee-inner{

			 background:$warning;
			}
 		transform: rotate(3.09deg);
 		position: absolute;
		 right: rem(-50);
		 left: rem(-50);
		 min-width: calc(100% + #{rem(100)});
		 @include media-breakpoint-up(xl) {

			 top: rem(290);
			}
			 	@include media-breakpoint-up(sm) {
					 top: rem(190);
					}
					top: rem(90);
 		z-index: 4;
	 }
	 .row{
		 	@include media-breakpoint-up(lg) {

				 padding-top: rem(80);
				}
				padding-top: rem(40);
		 p{
			 max-width: rem(650);
			 color: #5D6773;
			 @extend .h4;
			 line-height: 150%;
			 /* or 42px */

			 letter-spacing: 0.015em;

		 }
	 }
	 &__btn{
		 width: rem(304);
		 @extend .btn;
		 @extend .btn-block;
		 @extend .btn-outline-gradient;
		 
		 margin-left: auto;
		 margin-right: auto;
	 }

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

@keyframes spin{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
	} 

