mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title
				h2 Задачи
				
			+e.slider-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(t, h3)
							+e.slide.swiper-slide
								.h4.text-secondary!= t
								.h3.strong!= h3
								block
								//- .h4 Формирование компетенций молодежи для прорывных решений в&nbsp;молодежной политике. 

								//- .h4 Новые общемировые вызовы и&nbsp;тенденции, связанные с&nbsp;ускоряющимся технологическим прогрессом, поставленные цели национального развития Российской Федерации требуют системного обновления государственной молодежной политики (далее&nbsp;&mdash; ГМП) ...
								//+e.btn(href="#") Узнать больше
									i
						+slide(`ФИНАНСЫ`,`Грантовый конкурс&nbsp;&mdash; это возможности получить финансирование на&nbsp;социально-значимые проекты`)
							.h4 Пусть молодежь знает об&nbsp;этом! Разработайте эффективную систему информирования о&nbsp;грантовых конкурсах Росмолодежи.

							
						+slide(`КОММУНИКАЦИЯ`,`Росмолодежи нужны новые способы коммуникации с&nbsp;молодежью страны`)
							.h4 Нам есть, что сказать, и&nbsp;мы&nbsp;хотим слышать молодежь. Разработайте новые каналы и&nbsp;форматы коммуникаций для взаимодействия Агентства с&nbsp;молодежью, чтобы онлайн-общение было обоюдно полезным и&nbsp;направленным на&nbsp;формирование активного сообщества молодежи страны.


						+slide(`ПОЛИТИКА`,`Исследуйте основные задачи молодежной политики и&nbsp;предложите свое видение развития молодежи страны`)
							.h4 Войдите в&nbsp;историю молодежной политики! Проведите исследование и&nbsp;разработайте карту компетенций и&nbsp;навыков молодого человека для его успешной самореализации в&nbsp;одном из&nbsp;актуальных направлений развития молодежной политики в&nbsp;перспективе до&nbsp;2030&nbsp;года.
						+slide(`РАЗВИТИЕ`,`Заинтересованность в&nbsp;самореализации и&nbsp;развитии не&nbsp;должна зависеть от&nbsp;места жительства`)
							.h4 Разработайте оффлайн-инструмент, который повысит мотивацию к&nbsp;саморазвитию молодежи даже в&nbsp;самых отдаленных уголках России.

				.swiper-pagination