mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+b.section-title
				h2 Задачи
				
			+e.slider-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(t, h3)
							+e.slide.swiper-slide
								.h4.text-secondary!= t
								.h3.strong!= h3
								block
								//- .h4 Формирование компетенций молодежи для прорывных решений в&nbsp;молодежной политике. 

								//- .h4 Новые общемировые вызовы и&nbsp;тенденции, связанные с&nbsp;ускоряющимся технологическим прогрессом, поставленные цели национального развития Российской Федерации требуют системного обновления государственной молодежной политики (далее&nbsp;&mdash; ГМП) ...
								//+e.btn(href="#") Узнать больше
									i
						+slide(`Задача 1`,`Разработка эффективной системы информирования молодежи о&nbsp;грантовых конкурсах Росмолодежи`)
							.h4 Федеральное агентство по&nbsp;делам молодежи ежегодно проводит грантовые конкурсы молодежных инициатив. В&nbsp;2020 году Агентством инициирована работа по&nbsp;созданию нового постановления Правительства Российской Федерации, на&nbsp;основании которого в&nbsp;последующем будет проводиться Всероссийский конкурс молодежных проектов. В&nbsp;связи с&nbsp;изменением <nobr>нормативно-правовой</nobr> базы конкурса, предстоит большая работа по&nbsp;информированию молодежи о&nbsp;правилах проведения конкурса. Агентство заинтересовано в&nbsp;том, чтобы информация о&nbsp;конкурсах была максимально доступна для всех граждан Российской Федерации в&nbsp;возрасте от&nbsp;14 до&nbsp;30 лет. .<br /> Участникам хакатона идей необходимо предложить эффективную концепцию распространения информации о&nbsp;грантовых конкурсах, при которой максимальному количеству молодежи будет доступна и&nbsp;понятна информация о&nbsp;том, как проходят грантовые конкурсы, как принять в&nbsp;них участие, как грамотно составить заявку, как происходит оценка проектов и&nbsp;определение победителей.

							
						+slide(`Задача 2`,`Создание новых и&nbsp;модернизация действующих каналов коммуникаций федерального агентства по&nbsp;делам молодежи с&nbsp;молодежью России`)
							.h4 Информированность о&nbsp;деятельности Федерального агентства по&nbsp;делам молодежи среди населения страны остается на&nbsp;низком уровне, либо имеет поверхностный характер. В&nbsp;связи с&nbsp;этим в&nbsp;интересах агентства увеличить уровень взаимодействия с&nbsp;молодежью возраста от&nbsp;14 до&nbsp;35 лет для лучшего понимания их&nbsp;потребностей и&nbsp;направления дальнейшего развития, а&nbsp;также получения обратной связи о&nbsp;своей деятельности, что также должно вести к&nbsp;увеличению охвата и&nbsp;эффективной работе с&nbsp;целевой аудиторией.
							.h4 В&nbsp;рамках решения кейса необходимо предложить модернизацию действующих каналов коммуникаций, либо создание новых, которые еще не&nbsp;используются в&nbsp;рамках взаимодействия агентства с&nbsp;молодежью.

						+slide(`Задача 3`,`Формирование компетенций молодежи для прорывных решений в&nbsp;молодежной политике`)
							.h4 Новые общемировые вызовы и&nbsp;тенденции, связанные с&nbsp;ускоряющимся технологическим прогрессом, поставленные цели национального развития Российской Федерации требуют системного обновления государственной молодежной политики.
							.h4 Участникам хакатона идей предлагается: рассмотреть основные задачи молодежной политики, проанализировать их&nbsp;и&nbsp;сгруппировать в&nbsp;стратегические направления работы с&nbsp;молодежью; выбрать одно из&nbsp;выявленных направлений работы в&nbsp;молодежной политике и&nbsp;провести <nobr>мини-исследование</nobr>, результаты которого определят самые важные и&nbsp;перспективные цели и&nbsp;задачи в&nbsp;рамках выбранного направления, подтвердив его актуальность заинтересованностью целевого сегмента.
						+slide(`Задача 4`,`Разработка инструментов работы с&nbsp;молодежью из&nbsp;регионов Российской Федерации, способствующих повышению заинтересованности молодежи в&nbsp;саморазвитии и&nbsp;самореализации`)
							.h4 38% молодежи считает, что проживание в&nbsp;небольшом населенном пункте мешает самореализации.
							.h4 Эта задача Хакатона идей предполагает исследование четырёх возрастных сегментов целевой аудитории и&nbsp;последующее определение инструментов работы с&nbsp;молодежью, которые позволят повысить заинтересованность молодых людей в&nbsp;саморазвитии и&nbsp;самореализации вне зависимости от&nbsp;места жительства. Для одного изученного сегмента командам предстоит разработать новый <nobr>оффлайн-инструмент</nobr>, который вовлечет и&nbsp;мотивирует молодое поколение, проживающее даже в&nbsp;самых небольших населенных пунктах, занять активную жизненную позицию.

				.swiper-pagination