mixin sAbout(data)
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				+pic('logo-rm.png','','')
				
			.row
				.col-xl-6
					+e.text  Мы, Федеральное агентство  по&nbsp;делам молодежи, вместе  с&nbsp;партнерами создали площадку для реализации идей, которая даст возможность разработать новые продукты для современной молодежи
				.col-xl-6
					+e.text-border Площадка хакатона Росмолодежи&nbsp;&mdash; эффективное поле для взаимодействия молодежи страны, экспертов и&nbsp;представителей заинтересованных организаций по&nbsp;созданию реальных решений, полезных и&nbsp;востребованных для молодежи России
	// end sAbout