mixin sAbout(data)
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				
				
			+e.text-border
				.row
					.col-lg-auto.order-lg-last
						+pic('logo-rm.png','','')
					.col Площадка хакатона Росмолодежи&nbsp;&mdash; эффективное поле для взаимодействия молодежи страны, экспертов и&nbsp;представителей заинтересованных организаций по&nbsp;созданию реальных решений, полезных и&nbsp;востребованных для молодежи России
	// end sAbout