mixin sBecome(data)
	// start sBecome
	+b.SECTION.sBecome#sBecome&attributes(attributes)
		.container.section
				
			.row
				.col-xl-6.col-lg-auto
					+b.section-title
						//- +ellipses()
						h2 Участники  <br> Хакатона:

				.col
					ul
						li молодежь из&nbsp;любой точки России
						li: strong от&nbsp;18&nbsp;до&nbsp;30&nbsp;лет
						li специалисты #[strong любых профессий] и&nbsp;направлений
						li знают, #[strong что нужно] молодежи России
						li готовы предлагать #[strong новые коммуникационные инструменты]
		+marquee.text-1.d-none.d-sm-flex(direction="right")
	// end sBecome