mixin sBecome(data)
	// start sBecome
	+b.SECTION.sBecome#sBecome&attributes(attributes)
		.container.section
				
			.row
				.col-xl-6.col-lg-auto
					+b.section-title
						//- +ellipses()
						h2 Стань  участником  Хакатона,  если ты:

				.col
					ul
						li готов #[em.strong менять стратегию] своего развития и&nbsp;окружения
						li готов #[em.strong  предлагать новые] коммуникационные инструменты
						li знаешь,  #[em.strong что нужно ]  молодежи России 
						li считаешь  #[em.strong себя частью] активной молодежи страны молодежи России 
						li готов  #[em.strong поделиться] своим  уникальным  #[em.strong опытом]
						li хочешь  #[em.strong войти в&nbsp;историю] и&nbsp;стать частью позитивных изменений
		+marquee.text-1.d-none.d-sm-flex(direction="right")
	// end sBecome