mixin sWhat(data)
	// start sWhat
	+b.SECTION.sWhat.section#sWhat&attributes(attributes)
		.container
			.row
				.col-xl-6
					+b.section-title
						h2 Что такое  <br>Хакатон Идей?
					ul
						li Реальные задачи и&nbsp;возможность прокачать навыки в&nbsp;условиях ограниченного времени

						li &laquo;Песочница&raquo; для теста своих дей и&nbsp;гипотез 

						li Коллаборация с&nbsp;крутыми специалистами  разных отраслей, партнерами  и&nbsp;единомышленниками
				.col-xl-6
					+b.section-title
						h2 Возможности <br> для победителей:

					ul
						li Проверить свои навыки на&nbsp;практике 

						li Создать продукты за&nbsp;короткое время 

						li Проявить себя и&nbsp;получить работу

						li Поработать плечом к&nbsp;плечу с&nbsp;сильными менеджерами
			.h4 Используй свои навыки работы с&nbsp;проектами для создания необычной идеи&nbsp;&mdash; яркой, вызывающей, оригинальной. Жюри и&nbsp;эксперты выберут лучшие идеи, авторы получат призы и&nbsp;возможность работы над реализацией проекта
	// end sWhat