mixin sFaq(data)
	// start sFaq
	+b.sFaq.section.pt-0#sFaq&attributes(attributes)
		.container 
			+e.wrap#faqContainer
				mixin item(t)
					+b.accordion--js
						+e.head!= t
							+e.plus
						+e.body
							block
				+e.icon-wrap
					img(src="img/svg/faq.svg" loading='lazy', alt="")
	// end sFaq