mixin sFaq(data)
	// start sFaq
	+b.sFaq.section.pt-0#sFaq&attributes(attributes)
		.container 
			+e.wrap
				mixin item(t)
					+b.accordion--js
						+e.head!= t
							+e.plus
						+e.body
							block
				+item(`Что такое хакатон?`)
					p Ограниченное во&nbsp;времени соревновательное мероприятие, в&nbsp;рамках которого участники в&nbsp;составе команд создают прототипы проектов и&nbsp;решений.  Интеллектуальный конкурс &laquo;Хакатон Идей&raquo; продлится 48&nbsp;часов.
					p За&nbsp;это время команды по&nbsp;3-5&nbsp;человек, совместно с&nbsp;экспертами Федерального агентства по&nbsp;делам молодежи и&nbsp;специалистами разных отраслей, будут взаимодействовать по&nbsp;четырем актуальным задачам и&nbsp;предлагать решения проблем в&nbsp;молодежной политике. шения проблем в молодежной политике. 
				+item(`До&nbsp;какого числа продлится регистрация?`)
					p 16.11&nbsp;&mdash; начало отбора участников и&nbsp;команд
						br
						| 07.12&nbsp;&mdash; окончание приема Заявок на&nbsp;участие
						br
						| 08.12 до&nbsp;23:59&nbsp;&mdash; Дедлайн для подтверждения участия команд
				+item(`Когда пройдет конкурс?`)
					p 11.12&nbsp;&mdash; 13.12.2020&nbsp;&mdash; в&nbsp;эти даты пройдет Интеллектуальный online-конкурс &laquo;Хакатон Идей&raquo; 
				+item(`Кто такие трекеры и эксперты?`)
					p Трекер&nbsp;&mdash; физическое лицо с&nbsp;бизнес-опытом и&nbsp;опытом работы со&nbsp;стартапами, привлекаемый Организатором Конкурса для сопровождения и&nbsp;консультаций команд на&nbsp;Хакатоне, в&nbsp;части, касающейся продуктового и&nbsp;дизайн-мышления, командообразования, ресурсного планирования. Трекер оказывает содействие командам в&nbsp;постановке целей и&nbsp;контролирует их&nbsp;достижение во&nbsp;время проведения Хакатона.
						br
						| Эксперт&nbsp;&mdash; лицо, имеющее компетенции в&nbsp;проведении экспертизы, консультирования в&nbsp;сфере проблематики Задач.
				+item(`Какой возраст участников?`)
					p В&nbsp;Интеллектуальном конкурсе &laquo;Хакатон Идей&raquo; могут принять участие граждане&nbsp;РФ возрастом от&nbsp;18&nbsp;до&nbsp;30&nbsp;лет.
				+item(`Какие призы ждут участников Хакатона?`)
					p 1. Финансовая поддержка до&nbsp;1&nbsp;500&nbsp;000 рублей на&nbsp;реализацию лучших проектов в&nbsp;каждой из&nbsp;4х&nbsp;Задач Конкурса
					p 2. Или получить работу в&nbsp;Федеральном агентстве по&nbsp;делам молодежи
					p 3. Мерч от&nbsp;Интеллектуального конкурса &laquo;Хакатон Идей&raquo;
				+e.icon-wrap
					img(src="img/svg/faq.svg" loading='lazy', alt="")
	// end sFaq