 
	  
.soc{
	margin: 0 rem(-15px);
	// padding-top: rem(20);
	padding-bottom: rem(30);
	display: flex;
	// justify-content: center;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(15px);
		vertical-align: middle;
			@include media-breakpoint-up(sm) {

				width: rem(133);
				height: rem(133);
			}
			width: rem(80);
			height: rem(80);
		@extend .btn;
		@extend .btn-outline-primary;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		@include mt; 
		color: #ffff !important;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
		 
		}
		
	}
	.icon{
	font-size: rem(46);
	&-ZUBRIT{
			@include media-breakpoint-up(sm) {

				font-size: rem(20);
			}
			font-size: rem(14);
			
		}
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}


.tab-radio-content:not(.active) {
	display: none;
}