include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->


mixin page-title(title, ar)
	+b.page-title
		.container.container-large
			.row
				if ar
					.col-auto
						+e.link(href="#") 
							+icon("arrow-back")
				.col
					if title
						h1= title
				block
			
mixin reg(b="Отправить")
	+form-wrap().form-wrap--sm#registrationForm
		.row
			.col-lg-6
				+input("",'text','Фамилия', 'lname')(required class="form-control-sm")
			.col-lg-6
				+input("",'text','Имя', 'fname')(required class="form-control-sm")
			.col-lg-6
				+input("",'text','Отчество', 'patronymic')(class="form-control-sm")
					+e.smallest При наличии
			.col-lg-6
				+input("",'text','Аккаунт в Telegram', 'telegram')(class="form-control-sm")
					+e.smallest Необязательно
			.col-lg-6
				+input("+7 ___ ___ __ __",'tel','Телефон', 'phone')(required class="form-control-sm")
			.col-lg-6
				+input("",'email','E-mail', 'email')(required class="form-control-sm")
			.col-lg-6
				+input("",'text','Город', 'city')(required class="form-control-sm")
			.w-100 
			.col-lg-6
				button.btn.btn-outline-gradient.w-100.mb-4(type="submit")= b
			.col-lg-6.align-self-center
					+in-c(required=true)(checked)
						+e.SPAN.text.small Соглашаюсь на обработку  #[a.text-warning(href="#") персональных данных] 


mixin login(b="Зарегистрироваться")
	+b.form-wrap(class="form-wrap--border")
		.container 
			form(action='/file-upload'  enctype="multipart/form-data")
				//- .dropzone(action='/file-upload'  enctype="multipart/form-data")
				.col-xxl-6.col-lg-8.g-0
					+input("",'email',' E-mail') 
					+input("",'password','Пароль') 
						//- .col-lg-6.mb-4
					+e.btn.w-100.ttu.mb-4(type="submit") Войти
					.h5.py-4 Нет аккаунта? 
						| 
						a(href="#") Зарегистрироваться
					.h5.pb-2
						a(href="#") Восстановить пароль

	 
mixin password(b="Зарегистрироваться")
	+b.form-wrap(class="form-wrap--border")
		.container 
			form(action='/file-upload'  enctype="multipart/form-data")
				//- .dropzone(action='/file-upload'  enctype="multipart/form-data")
				.col-lg-6.g-0
					+input("",'email','E-mail') 
					+e.btn.w-100.ttu(type="submit") Восстановить


mixin ellipses()
	.ellipses
		img(src="img/svg/head-line-1.svg", alt="")
		img(src="img/svg/head-line-2.svg", alt="")
		img(src="img/svg/head-line-3.svg", alt="")
		img(src="img/svg/head-line-4.svg", alt="")
		img(src="img/svg/head-line-5.svg", alt="")


mixin  marquee()
	.slider-line-wrap&attributes(attributes)
		+b.slider-line--js.swiper-container
			.swiper-wrapper  
				- for (var x = 0; x < 3; x++)
					+e.slide.swiper-slide
						//- .swiper-no-swiping
						.marquee-inner
							| Дизайн 
							img(src="img/svg/markquee-1.svg"  alt="")
							
							| Продукт
							img(src="img/svg/markquee-2.svg"  alt="")
							
							img(src="img/svg/markquee-3.svg"  alt="")
							
							img(src="img/svg/markquee-4.svg"  alt="")
							| Росмолодежь
							img(src="img/svg/markquee-1.svg"  alt="")
							
							img(src="img/svg/markquee-5.svg"  alt="")
							
							img(src="img/svg/markquee-6.svg"  alt="")
							| Хакатон
							img(src="img/svg/markquee-6.svg"  alt="")
							img(src="img/svg/markquee-2.svg"  alt="")
							| Идея
							img(src="img/svg/markquee-2.svg"  alt="")
							img(src="img/svg/markquee-5.svg"  alt="")
							img(src="img/svg/markquee-1.svg"  alt="")