include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->


mixin page-title(title, ar)
	+b.page-title
		.container.container-large
			.row
				if ar
					.col-auto
						+e.link(href="#") 
							+icon("arrow-back")
				.col
					if title
						h1= title
				block
			
mixin reg(b="Зарегистрироваться")
	+b.form-wrap(class="form-wrap--border    "   )
			form(action='/file-upload'  enctype="multipart/form-data")
				//- .dropzone(action='/file-upload'  enctype="multipart/form-data")
				.row
					
					.col-lg-6
						+input("Ваша имя",'text','Имя *')(required)
					.col-lg-6
						+input("Ваша фамилия",'text','Фамилия *')(required)
					.col-lg-6
						+input("Ваш e-mail",'email','E-mail *')(required)
					.col-lg-6
						+input("+7 ___ ___ __ __",'tel','Телефон*')(required)
					.col-lg-6
						+input("Город проживания",'text','Город*')(required)
					.col-12.pt-3
						.row
							.col-auto.pb-2
								+in-c('radio', 'Вендор', name='type-of')(data-tab-radio="vendor-block")
								
							.col-auto.pb-2
								+in-c('radio', 'Партнер', name='type-of')(data-tab-radio="partner-block" checked)
							.col-auto.pb-2
								+in-c('radio', 'Заказчик', name='type-of')(data-tab-radio="costumer-block")
							.col-auto.pb-2
								+in-c('radio', 'OCS ', name='type-of')(data-tab-radio="ocs-block")
							.col-auto.pb-2
								+in-c('radio', 'СМИ', name='type-of')(data-tab-radio="media-block")
					.col-lg-6.tab-radio-content.vendor-block
						
							// Вендоры 
							+input("",'select','Компания*')
					
				
					.col-lg-6.tab-radio-content.costumer-block
							+input("Компания",'text','Компания*')  
					.col-lg-6.tab-radio-content.ocs-block
							+input("Компания",'text','Компания*')(value="OCS" disabled )
					.col-lg-6.tab-radio-content.media-block
							+input("Компания",'text','Компания*')  
				 
					

					.col-lg-12.pb-3.tab-radio-content.partner-block.dropdown-wrap
						// партнеры
						+b.input-title.dropdown-toggle-js.h5.mb-5 Группы оборудования, которыми вы занимаетесь
							span.plus
						+b.dropdown-block--js 
							+e.item 
								+in-c('checkbox', ' Безопасность')
								.dropdown-toggle-js.d-inline-block: span.plus
								+b.dropdown-block--js
									+e.item
										+in-c('checkbox', ' Конференц-системы')
									+e.item
										+in-c('checkbox', ' Пожарно-охранные комплексы')
									+e.item
										+in-c('checkbox', 'Системы оповещения')
									+e.item
										+in-c('checkbox', ' СКУД')
									+e.item
										+in-c('checkbox', ' Видеонаблюдение')
							+e.item
								+in-c('checkbox', 'Бытовая техника и электроника')
							+e.item 
								+in-c('checkbox', 'Инженерная инфраструктура')
								.dropdown-toggle-js.d-inline-block: span.plus
								+b.dropdown-block--js
									+e.item
										+in-c('checkbox', ' Видеокарты')
									+e.item
										+in-c('checkbox', 'Диски (HDD, SSD, ODD)')
									+e.item
										+in-c('checkbox', 'Интерф. платы и устройства')
									+e.item
										+in-c('checkbox', ' Комплектующие для серверов')
									+e.item
										+in-c('checkbox', ' Корпуса')
									+e.item
										+in-c('checkbox', 'Материнские платы')
									+e.item
										+in-c('checkbox', ' Оперативная память')
									+e.item
										+in-c('checkbox', ' Память флеш')
									+e.item
										+in-c('checkbox', ' Платформы для ПК')
									+e.item
										+in-c('checkbox', 'Процессоры')
									+e.item
										+in-c('checkbox', 'БП и кулеры')
								+e.item
									+in-c('checkbox', 'Мобильные системы')
							+e.item 
								+in-c('checkbox', "Оборудование маркировки и автоидентификации")
								.dropdown-toggle-js.d-inline-block: span.plus
								+b.dropdown-block--js
									+e.item
										+in-c('checkbox', ' Мониторы, проекторы, доски')
									+e.item
										+in-c('checkbox', ' Мультимедиа')
									+e.item
										+in-c('checkbox', 'Печать и сканирование')
									+e.item
										+in-c('checkbox', 'Профессиональная поддержка и сервис')
									+e.item
										+in-c('checkbox', 'Профессиональные ЖК панели и телевизоры')
									+e.item
										+in-c('checkbox', 'Расходные материалы')
									+e.item
										+in-c('checkbox', 'Устройства ввода')
									+e.item
										+in-c('checkbox', 'Кабели, разъемы')
								+e.item
									+in-c('checkbox', 'ПК')
								+e.item
									+in-c('checkbox', 'Программное обеспечение')
								+e.item
									+in-c('checkbox', 'Профессиональное мультимедиа и AV оборудование')
								+e.item
									+in-c('checkbox', 'Серверы')
								+e.item
									+in-c('checkbox', 'Сетевое оборудование и системы связи')
								+e.item
									+in-c('checkbox', 'СХД')
						.row
							.col-lg-6
								
								//- +input("название компании без ООО и",'text','Компания*','partners')( list="partners-company")
								//- 	<datalist id="partners-company">
								//- 		<option value="San Francisco">
								//- 		<option value="New York">
								//- 		<option value="Seattle">
								//- 		<option value="Los Angeles">
								//- 		<option value="Chicago">
								//- 	</datalist>
								+e.input-wrap.form-group
									label.autocomplete
										+e.INPUT.input.form-control(data-autocomplete-dom='#categories' data-best-match='' placeholder="название компании без ООО и")
										.suggest.menu(data-menu='')
											ol
										+b.SPAN.input-title Компания*
									.btn.btn-primary.btn-select.d-none
										span.ki-icon.ki-icon-carat-down
										select#categories
											option(value='Foo') Foo
											option(value='Bar') Bar
											option(value='Baz') Baz
											option(value='Bak') Bak

							.col-lg-6 
								
								+input("Менеджер в OCS",'select','Менеджер в OCS')
					.col-lg-6 
						+input("Должность*",'text','Должность*')(required)
					.w-100
					.col-lg-6 
						+input("Пароль",'password','Пароль*')(required)
					.col-lg-6 
						+input("Повторите пароль",'password','Повторите пароль*')(required)
					.col-lg-12.mb-3
						+in-c()
							+e.SPAN.text Я согласен на #[a(href="#") обработку персональных данных ]
					.col-lg-12
						label.dropzone-wrapper.d-block
							+b.dropzone(action='/file-upload')
								#dropzone
									+e.prev-wrap
										+icon('user-drop')
										span.text-primary
											| добавить
											br
											| фото
										
									.fallback
										input(name='file', type='file', multiple='')
							//- +e.file Выбрать фото
					.col-lg-6.my-4
						button.btn.btn-primary.btn-arrows.w-100(type="submit")= b


					//- 	br
					//- 	+in-c()
					//- 		+e.SPAN.text Согласен на обработку #[a(href="#") персональных данных]
mixin login(b="Зарегистрироваться")
	+b.form-wrap(class="form-wrap--border")
		.container 
			form(action='/file-upload'  enctype="multipart/form-data")
				//- .dropzone(action='/file-upload'  enctype="multipart/form-data")
				.col-xxl-6.col-lg-8.g-0
					+input("",'email',' E-mail') 
					+input("",'password','Пароль') 
						//- .col-lg-6.mb-4
					+e.btn.w-100.ttu.mb-3(type="submit") Войти
					.h5.py-4 Нет аккаунта? 
						| 
						a(href="#") Зарегистрироваться
					.h5.pb-2
						a(href="#") Восстановить пароль

	 
mixin password(b="Зарегистрироваться")
	+b.form-wrap(class="form-wrap--border")
		.container 
			form(action='/file-upload'  enctype="multipart/form-data")
				//- .dropzone(action='/file-upload'  enctype="multipart/form-data")
				.col-lg-6.g-0
					+input("",'email','E-mail') 
					+e.btn.w-100.ttu(type="submit") Восстановить


mixin ellipses()
	.ellipses
		svg(width='327' height='334' viewBox='0 0 327 334' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M326.5 167C326.5 258.965 253.512 333.5 163.5 333.5C73.4875 333.5 0.5 258.965 0.5 167C0.5 75.0346 73.4875 0.5 163.5 0.5C253.512 0.5 326.5 75.0346 326.5 167Z' stroke='url(#paint0_linear)')
			defs
				lineargradient#paint0_linear(x1='0' y1='0' x2='344.304' y2='18.9087' gradientUnits='userSpaceOnUse')
					stop(stop-color='#FC9246')
					stop(offset='1' stop-color='#54C8ED')
		svg(width='327' height='286' viewBox='0 0 327 286' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M326.5 143C326.5 221.64 253.587 285.5 163.5 285.5C73.4126 285.5 0.5 221.64 0.5 143C0.5 64.3602 73.4126 0.5 163.5 0.5C253.587 0.5 326.5 64.3602 326.5 143Z' stroke='url(#paint0_linear)')
			defs
				lineargradient#paint0_linear(x1='0' y1='0' x2='343.928' y2='22.0581' gradientUnits='userSpaceOnUse')
					stop(stop-color='#FC9246')
					stop(offset='1' stop-color='#54C8ED')
		svg(width='291' height='286' viewBox='0 0 291 286' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M290.5 143C290.5 221.692 225.589 285.5 145.5 285.5C65.4105 285.5 0.5 221.692 0.5 143C0.5 64.3076 65.4105 0.5 145.5 0.5C225.589 0.5 290.5 64.3076 290.5 143Z' stroke='url(#paint0_linear)')
			defs
				lineargradient#paint0_linear(x1='0' y1='0' x2='306.326' y2='17.4835' gradientUnits='userSpaceOnUse')
					stop(stop-color='#FC9246')
					stop(offset='1' stop-color='#54C8ED')
		svg(width='291' height='257' viewBox='0 0 291 257' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M290.5 128.5C290.5 199.136 225.641 256.5 145.5 256.5C65.3585 256.5 0.5 199.136 0.5 128.5C0.5 57.8641 65.3585 0.5 145.5 0.5C225.641 0.5 290.5 57.8641 290.5 128.5Z' stroke='url(#paint0_linear)')
			defs
				lineargradient#paint0_linear(x1='0' y1='0' x2='306.089' y2='19.4413' gradientUnits='userSpaceOnUse')
					stop(stop-color='#FC9246')
					stop(offset='1' stop-color='#54C8ED')
		svg(width='269' height='270' viewBox='0 0 269 270' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M268.5 135C268.5 209.284 208.504 269.5 134.5 269.5C60.4956 269.5 0.5 209.284 0.5 135C0.5 60.716 60.4956 0.5 134.5 0.5C208.504 0.5 268.5 60.716 268.5 135Z' stroke='url(#paint0_linear)')
			defs
				lineargradient#paint0_linear(x1='0' y1='0' x2='283.205' y2='15.8273' gradientUnits='userSpaceOnUse')
					stop(stop-color='#FC9246')
					stop(offset='1' stop-color='#54C8ED')


mixin  marquee()
	marquee(behavior="scroll" )&attributes(attributes)
		.marquee-inner
			| Дизайн
			svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
				circle(cx='11.9891' cy='12.4526' r='9.88171' transform='rotate(-3.4581 11.9891 12.4526)' stroke='#343841' stroke-width='2.12816')
			| Продукт
			svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.37305 11.114L20.2042 9.97607' stroke='#343841' stroke-width='2.12816')
				path(d='M10.2197 1.12946L11.3577 19.9606' stroke='#343841' stroke-width='2.12816')
			svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M7.6875 20.8161L20.1985 6.69582' stroke='#343841' stroke-width='2.12816')
				path(d='M6.88281 7.50043L21.0031 20.0114' stroke='#343841' stroke-width='2.12816')
			svg(width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M12.2043 21.466L11.0524 2.40374M11.0524 2.40374L1.6937 12.7157M11.0524 2.40374L21.5847 11.5137' stroke='#343841' stroke-width='2.12816')
			| Росмолодежь
			svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
				circle(cx='11.9891' cy='12.4526' r='9.88171' transform='rotate(-3.4581 11.9891 12.4526)' stroke='#343841' stroke-width='2.12816')
			<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.31378 10.5173L16.7713 9.38405M16.7713 9.38405L8.29973 1.81857M16.7713 9.38405L9.49371 18.1042" stroke="#343841" stroke-width="2.12816"/>
				</svg>
			<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.81314 0.28835L7.68333 12.1575M7.68333 12.1575L13.3126 5.66575M7.68333 12.1575L1.16743 6.55617" stroke="#343841" stroke-width="2.12816"/>
				</svg>
			| Хакатон
			<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.81314 0.28835L7.68333 12.1575M7.68333 12.1575L13.3126 5.66575M7.68333 12.1575L1.16743 6.55617" stroke="#343841" stroke-width="2.12816"/>
				</svg>
			svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.37305 11.114L20.2042 9.97607' stroke='#343841' stroke-width='2.12816')
				path(d='M10.2197 1.12946L11.3577 19.9606' stroke='#343841' stroke-width='2.12816')
			| Идея
			svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M1.37305 11.114L20.2042 9.97607' stroke='#343841' stroke-width='2.12816')
				path(d='M10.2197 1.12946L11.3577 19.9606' stroke='#343841' stroke-width='2.12816')
			<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.31378 10.5173L16.7713 9.38405M16.7713 9.38405L8.29973 1.81857M16.7713 9.38405L9.49371 18.1042" stroke="#343841" stroke-width="2.12816"/>
			</svg>
			svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
				circle(cx='11.9891' cy='12.4526' r='9.88171' transform='rotate(-3.4581 11.9891 12.4526)' stroke='#343841' stroke-width='2.12816')