mixin sThis(data)
	// start sThis
	+b.SECTION.sThis#sThis&attributes(attributes)
		.container.section
			.row
				.col-xl-6.col-lg-auto
					+e.border
						+e.title  48 часов
						+e.title-sub Хакатон Идей – это
						ul
							li интеграция креативных  и&nbsp;проектных практик  в&nbsp;работу Росмолодежи 

							li предоставление готовых решений, основанных  на&nbsp;реальных кейсах
				.col
					+e.text-block
						+e.text-block-title Команда: 3 – 5 человек 
					br
					+e.text-block
						+e.text-block-title С каждой командой работают
						p 2 эксперта Росмолодежи
						p 1 трекер 

					+e.btn(href="#") Принять участие
						i
	// end sThis