mixin sFor(data)
	// start sFor
	+b.SECTION.sFor.section#sFor&attributes(attributes)
		.container
			.row
				.col-xl-6.col-lg-auto
					+b.section-title
						h2  Для кого?
					p молодежь, специалисты различных направлений, неравнодушные  к&nbsp;улучшению организационных  и&nbsp;социальных процессов, готовые объединиться для создания технологических решений
				.col
					+e.years  18+
	// end sFor