mixin sPrizes(data)
	// start sPrizes
	+b.SECTION.sPrizes.section#sPrizes&attributes(attributes)
		.container
			+b.section-title
				h2 Призы:
			.row
				.col-xl-6
					mixin item(p)
						+e.col
							p!= p
					+item(`Финансовая поддержка  <strong>до&nbsp;1&nbsp;500&nbsp;000 рублей</strong>  на&nbsp;реализацию <br> лучших проектов`)
					+item(`Возможность  <strong>пройти стажировку</strong>  в&nbsp;Федеральном агентстве  по&nbsp;делам молодежи`)
					+item(`Забрать <br> <strong>мерч от&nbsp;Хакатона Идей</strong>`)
				.col-xl-6
					+e.img-wrap
						+pic('bottle_mockup_02.png')
						img.res-i(src="img/svg/1500000.svg" loading="lazy", alt="")
						+pic('Pullover.png.png') 
	// end sPrizes