mixin sPrizes(data)
	// start sPrizes
	+b.SECTION.sPrizes.section#sPrizes&attributes(attributes)
		.container
			+e.leader
				img(src="img/svg/icon-leader-1.svg", alt="", loading="lazy")
				img(src="img/svg/icon-leader-2.svg", alt="", loading="lazy")
				| 12 команд — победителей
				img(src="img/svg/icon-leader-3.svg", alt="", loading="lazy")
				img(src="img/svg/icon-leader-4.svg", alt="", loading="lazy")
				img(src="img/svg/icon-leader-5.svg", alt="", loading="lazy")
			+b.section-title
				h2 Возможности получить:
			.row
				.col-xl-6
					mixin item(p)
						+e.col
							p!= p
					+item(`<strong>Финансовую поддержку </strong><br>  лучших проектов <br> до 1 500 000 рублей`)
					+item(`<strong>Стажировку </strong> в Федеральном агентстве <br> по делам молодежи`)
					+item(`<strong>Мерч </strong> от Хакатона Идей`)
				.col-xl-6
					+e.img-wrap
						+pic('bottle_mockup_02.png')
						img.res-i(src="img/svg/1500000.svg", alt="", loading="lazy")
						+pic('Pullover.png.png')
	// end sPrizes
