
	// start .sPrizes
	.sPrizes {
			.text-1 {
				transform: rotate(3.09deg);
				margin-bottom: rem(120);

				.marquee-inner {
					background-color: $warning;
				}
			}

		&__leader{
			display: inline-flex;
			align-items: center;
			padding: rem(5) rem(5);
			margin-bottom: rem(30);
			font-size: rem(28);
			font-weight: 500;
			img{
				margin-left: rem(10);
				margin-right: rem(10);
			}
			background-color: $primary;
		}
		 
		// .row{
		// 	max-width: rem(930);
		// 	position: relative;
		// 		@include media-breakpoint-up(lg) {
		// 	&::after{
		// 		content: '';
		// 		top: -10%;
		// 		left: 80%;
		// 		background-image: url(../img/svg/prizes-after.svg);
		// 		width: rem(1050);
		// 		height: rem(1050);
		// 		background-size: 100% 100%;
		// 		background-repeat: no-repeat;
		// 		background-position: center center;
		// 		position: absolute;
		// 	}
		// 	}
		// }
		&__title{
			line-height: 110.8%; 
			letter-spacing: 0.015em;
			text-transform: uppercase;  
			background:linear-gradient(93.21deg, #FC9246 0%, #54C8ED 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			position: relative;
			padding-left: rem(20);
			min-height: rem(105);
			display: flex;
			align-items: center;
			margin-bottom: rem(30);
			z-index: 2;
			font-weight: 500;
			// display: flex;
			

		}
		
		&__col{
			margin-bottom: rem(50);
			position: relative; 
			// padding-left: rem(170 + 44);
			display: flex;
			align-items: center;
			max-width: rem(650);
			&::before{
				content: '';
				background-image: url(../img/svg/circle-with-gift.svg);
				width: rem(170);
				height: rem(170);
				flex: 0 0 auto;
				margin-right: rem(44);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: center center;
		 
				z-index: -1; 
			}
		}

		p{
			 font-size: $h4-font-size;
			 font-weight: 500;
			line-height: 140%;
			strong{
				color: $primary;
				@include rfs(30px);
				// display: inline-block;
				display: block;
			}
			/* or 36px */

			letter-spacing: 0.015em;

			/* 2 */

			color: #5D6773;

		}
	 

 
			&__img-wrap{
				position: relative;
				max-width: rem(630);
				height: rem(500);
				picture{
					position: absolute;
					&:nth-child(1){
						left: rem(-50);
						top: rem(-100);
					}
					&:nth-child(3){
						right: rem(-100);
						bottom: rem(-80);
						width: rem(370);
					}
				}
				}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(sm) {
		picture{
			display: none;
		}
	}
} // end.sPrizes