include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug 
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="48 часов интенсивной командной работы ONLINE. Реальные решения, актуальные для молодежи здесь и сейчас")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  shrink-to-fit=no")
		meta(name="viewport" content="width=device-width, shrink-to-fit=no")
		link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.ico')
		<meta name="format-detection" content="telephone=no">
		link(rel="image_src" href="http://genrif.ru/assets/i/soc-logo.png" )
		meta( property="og:type" content="website")
		meta( property="og:site_name" content="Хакатон Идей")
		meta( property="og:title" content='Интеллектуальный конкурс "Хакатон Идей"')
		meta( property="og:description" content="48 часов интенсивной командной работы ONLINE. Реальные решения, актуальные для молодежи здесь и сейчас")
		meta( property="og:url" content="https://ideahack.ru/")
		meta( property="og:locale" content="ru_RU")
		meta( property="og:image" content='img/favicon/favicon.ico')

		// Custom Browsers Color
		meta(name='theme-color', content='var(--bg-primary')
		+allcss()
		script.
			(function (w, d, u, i, o, s, p) {
				if (d.getElementById(i)) {
					return;
				}
				w['MangoObject'] = o;
				w[o] = w[o] || function () {
					(w[o].q = w[o].q || []).push(arguments)
				};
				w[o].u = u;
				w[o].t = 1 * new Date();
				s = d.createElement('script');
				s.async = 1;
				s.id = i;
				s.src = u;
				s.charset = 'utf-8';
				p = d.getElementsByTagName('script')[0];
				p.parentNode.insertBefore(s, p);
				}(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
				mgo({multichannel: {id: 8329}});
	block variables
	body.loaded_hiding(class= mainPage)
		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		+allcjs()
		
		