include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/top-nav/_top-nav.pug
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang="ru")
	head
		script.
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start":
							new Date().getTime(), event: "gtm.js"
				});
				var f = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src =
						"https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-5S3NCVQ");

		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="48 часов интенсивной командной работы ONLINE. Реальные решения, актуальные для молодежи здесь и сейчас")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,  shrink-to-fit=no")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		link(type="image/png", href='https://ideahack.ru/img/favicon/favicon.ico', rel='shortcut icon')
		<meta name="format-detection" content="telephone=no">
		link(href="https://ideahack.ru/img/svg/logo.svg" rel="image_src")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="Хакатон Идей")
		meta(property="og:title" content='Интеллектуальный конкурс "Хакатон Идей"')
		meta(property="og:description", content="48 часов интенсивной командной работы ONLINE. Реальные решения, актуальные для молодежи здесь и сейчас")
		meta(property="og:url" content="https://ideahack.ru/")
		meta(property="og:locale" content="ru_RU")
		meta(property="og:image" content='https://ideahack.ru/img/svg/logo.svg')

		meta(name="yandex-verification" content="1b6b00d2364322b4")
		meta(name="google-site-verification" content="_Ly6c2nX67Uwh8QNrU1UoKGFCphGtUqiW3cqU48SKSM")

		// Custom Browsers Color
		meta(name='theme-color', content='var(--bg-primary')
		+allcss()
		script.
			(function (w, d, u, i, o, s, p) {
				if (d.getElementById(i)) {
					return;
				}
				w['MangoObject'] = o;
				w[o] = w[o] || function () {
					(w[o].q = w[o].q || []).push(arguments)
				};
				w[o].u = u;
				w[o].t = 1 * new Date();
				s = d.createElement('script');
				s.async = 1;
				s.id = i;
				s.src = u;
				s.charset = 'utf-8';
				p = d.getElementsByTagName('script')[0];
				p.parentNode.insertBefore(s, p);
			}(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
			mgo({multichannel: {id: 8329}});


		script.
			(function (m, e, t, r, i, k, a) {
				m[i] = m[i] || function () {
					(m[i].a = m[i].a || []).push(arguments)
				};
				m[i].l = 1 * new Date();
				k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
			})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
			ym(69502081, "init", {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true
			});


	block variables
	style.
		.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	body.loaded_hiding(class= mainPage)
		noscript
			div
				img(src="https://mc.yandex.ru/watch/69502081" alt="" style="position:absolute; left:-9999px;")
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5S3NCVQ" height="0" width="0" style="display:none;visibility:hidden")

		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		+allcjs()
