
//- menu
mixin mnu()
	-
		var nav= { 
			
			"О проекте ":"/#sAbout",
			"Задачи":"/#sCases",
			"Этапы":"/#sRoadMap",
			"Призы":"/#sPrizes",
			"Контакты":"/#sContact",
			"FAQ":"/faq.html",
			}
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
	 
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu